<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/upload/multiple" method="post" enctype="multipart/form-data">
        <input type="text" name="prompt" placeholder="Prompt">
        <input type="file" name="files" multiple>
        <button type="submit">Upload</button>
        <div style="border-radius: 10px; padding: 10px; background-color: #f0f0f0;">
            {% if message %}
                <p>{{ message }}</p>
            {% endif %}
        </div>
    </form>
</body>
</html>